p {
  font-family: Arial;
}
.header {
  display: flex;
  flex-direction: row;
  background-color: rgb(120, 82, 178);
  justify-content: space-between;
  color: white;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.left-section {
  font-weight: bold;
}
.search-bar {
  border-radius: 15px;
  width: 500px;
  border: none;
  outline: none;
  padding-left: 20px;
  height: 30px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 15px;
  margin-right: 15px;
}
.download-button {
  background-color: rgb(120, 82, 178);
  color: white;
  border-color: white;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
