p {
  font-family: Arial;
  margin: 0;
}
img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: top;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.container {
  display: grid;
  flex-direction: column;
}
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  max-width: 500px;
}
.info {
  margin-right: 20px;
  flex: 1;
}
.username {
  font-weight: bold;
  margin-bottom: 2px;
}
.desc,
.status {
  margin-bottom: 2px;
  margin-top: 2px;
  color: rgb(145, 145, 145);
}
.status {
  font-size: 14px;
}
.follow-button {
  font-weight: bold;
  font-size: 18px;
  color: white;
  background-color: rgb(99, 149, 224);
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.follow-button:hover {
  background-color: rgba(99, 149, 224, 0.6);
}
.follow-button:active {
  background-color: rgba(99, 149, 224, 0.3);
}
