.apply {
  margin: 4px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: rgb(10, 102, 194);
  color: white;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s;
  vertical-align: top;
}
.apply:hover {
  background-color: rgb(7, 67, 127);
}

.save {
  border-color: rgb(10, 102, 194);
  border-style: solid;
  cursor: pointer;
  border-width: 1px;
  font-weight: bold;
  margin: 4px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 25px;
  padding-left: 25px;
  color: rgb(10, 102, 194);
  background-color: white;
  border-radius: 20px;
  transition: border-width 0.5s, background-color 0.5s;
  vertical-align: top;
}
.save:hover {
  border-width: 2px;
  background-color: rgb(165, 189, 213);
}
