p {
  font-family: Verdana;
  margin: 0px;
}
.title {
  font-weight: bold;
  margin-bottom: 5px;
}
.level {
  color: gray;
  margin-bottom: 15px;
}
.description {
  width: 300px;
  margin-bottom: 10px;
}
.button {
  background-color: green;
  border-radius: 5px;
  border: none;
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}
