p {
  font-family: Arial;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.title {
  font-weight: bold;
  font-size: 30px;
}
.link {
  color: rgb(40, 40, 250);
  cursor: pointer;
  transition: text-decoration 1s;
}
.link:hover {
  text-decoration: underline;
}
