p {
  font-family: Arial;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
}
.new {
  color: orange;
  font-weight: bold;
}
.title {
  font-weight: bold;
  font-size: 20px;
}
.details {
  font-weight: bold;
  font-size: 35px;
}
.price {
  margin-bottom: 15px;
}
.buy {
  color: white;
  background-color: rgb(66, 109, 227);
  cursor: pointer;
  border: none;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
}
