body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url("table.png");
  background-size: cover;
  text-align: center;
  color: white;
  font-weight: bold;
}
h1 {
  color: goldenrod;
}
#message-el {
  font-style: italic;
}
button {
  color: #016f32;
  background: goldenrod;
  width: 150px;
  border: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  border-radius: 3px;
  cursor: pointer;
}
#button-holder {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* justify-content: center; */
  align-items: center;
}
