.github-button {
  background-color: rgb(46, 164, 79);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  transition: box-shadow 0.5s;
}
.github-button:hover {
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);
}
