button {
  color: white;
  background-color: green;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  cursor: pointer;
  transition: padding-bottom 0.5s, padding-top 0.5s, padding-left 0.5s,
    padding-right 0.5s;
}
button:hover {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
}
