p {
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}
.price {
  font-size: 30px;
}
.ticker {
  color: gray;
  font-size: 15px;
}
.percentage {
  color: rgb(16, 144, 16);
  font-size: 14px;
}
.time {
  color: gray;
  margin-top: 5px;
}
.decline {
  color: rgb(180, 0, 0);
  font-size: 14px;
}
