.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
}
.list-items {
  padding: 0 20px 0 20px;
  font-size: 20px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  width: 100px;
}
