.Meme--main {
  padding: 2em;
}
.Meme--form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.Meme--input-fields {
  display: flex;
  padding: 1em;
  justify-content: space-between;
}
.Meme--bottom-row,
.Meme--top-row {
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  font-family: Karla;
  text-indent: 10px;
  padding: 15px 0;
  font-size: 16px;
}
.Meme--new-meme {
  font-size: 14px;
  color: white;
  grid-column: 1 / -1;
  font-family: Karla;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}
.Meme--image {
  /* margin-top: 2em; */
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.Meme--meme {
  position: relative;
}
.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
